%section#contact
    %h1 Contact
    .text
        :markdown
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
        .action-badges
            %a.cta.cta-primary{:href => "mailto:me@jasonmichaelcross.com"}
                %i.fa.fa-envelope
                Email
            %a.cta.cta-primary{:href => "http://dribbble.com/jcross"}
                %i.fa.fa-dribbble
                Dribbble
