%section#contact
    %h1 Contact
    .text
        :markdown
            I love designing and developing useful websites. Let me know if you’re interested in getting some web work done. I’m the Creative Director at [Immense Networks](http://www.immense.net), and we’d be thrilled to discuss your project.
        .action-badges
            %a.cta.cta-primary{href:"mailto:me@hellojason.net"}
                %i.fa.fa-envelope
                Email
            %a.cta.cta-primary{href:"http://dribbble.com/jcross", target: "_blank"}
                %i.fa.fa-dribbble
                Dribbble
            %a.cta.cta-primary{href:"https://www.behance.net/jasoncross", target: "_blank"}
                %i.fa.fa-behance
                Behance
