            <footer class="content-info" role="content-info">
                &copy; 2014 Jason Cross
            </footer>
        </div> <!-- /.container -->

        <script src="js/vendor/jquery-2.1.0.min.js"></script>
        <script src="js/vendor/owl.carousel.min.js"></script>
        <script src="js/jquery.onscreen.min.js"></script>
        <script src="js/plugins.js"></script>
        <script src="js/bootstrap.js"></script>
        <script src="js/main.js"></script>
    </body>
</html>