%section#hero
  = image_tag "jc.png"
  .text
    %h1 Hello, I'm <span>Jason</span>
    %p.byline A graphic designer & UI developer
    %a.cta.cta-primary{:href => "#", :title => "Download my résumé"}
      %i.fa.fa-download
      Download my résumé