%li.nav-about
  %a{:href => "/"}
    %span.name About
    %span.graphic
      %i.fa.fa-user
    %span.byline
      Bit about me
%li.nav-portfolio
  %a{:href => "/#portfolio"}
    %span.name Portfolio
    %span.graphic
      %i.fa.fa-desktop
    %span.byline
      Project case studies
%li.nav-contact
  %a{:href => "#"}
    %span.name Contact
    %span.graphic
      %i.fa.fa-envelope
    %span.byline
      Get in touch
      