.container#nav-home
  %p.logo
    %a.brand{:href => "/"}
      Jason Cross
      %span.byline graphic design, etc.
  .clearfix
  %ul#primary-navigation.nav.nav-pills.nav-justified
    = _partial "nav-links"