.container
  %ul#primary-navigation.nav.nav-pills.nav-justified
    %li.logo
      %a.brand{:href => "/"}
        Jason Cross
        %span.byline graphic design, etc.
    = _partial "nav-links"