---
title: WP Engine Email Signature Generator
has_codepen: false
---

section#project-single
  aside
    = project_details "2016", "WP Engine", "Design, Development"

    h3 Demo
    a href="http://wpeng.in/signature" wpeng.in/signature

  main role="main"
    markdown:
      ## Inconsistent email signatures
      
      WP Engine employees had not used the same email signatures since its inception. Each department basically created their own over the years, causing huge inconsistencies.

      ## Researching options
      
      I had seen consistent email signatures [at my previous job](https://immense.net/deploying-unified-email-signature-template-outlook/) leveraging Exchange Server and Powershell, but WP Engine uses Google Apps. So, I met with our IT team to discuss possible ways to deploy something across the company. We decided the most practical solution would be to provide a self-help tool that our employees can 

      ## Development

      I decided the <abbr title="Minimum Viable Product">MVP</abbr> blah

    = project_image "Training gif animation", "WP-TOOL-EmailSignatureGenerator-Tutorial-v01-compressor.gif"
      
    markdown:
      ## Testing
      
      I sent the tool and instructional GIF animation to the entire marketing team, asking them to use it in their email programs and send me a confirmation test. This trial run exposed a few issues with untested programs, like Apple Mail and Nylas N1.
