.time {
  color: $text-muted;
  font-size: $font-size-small;
}

#article-single {
  @extend .container;
  article {
    font-size: 20px;
    line-height: 1.65em;
    font-family: sans-serif;
    h1 {
      text-transform: capitalize;
    }
    time {
      display: block;
    }
    a:link {
      text-decoration: underline;
    }
    img {
       @extend .img-responsive;
    }
    @media screen and (max-width: $screen-sm-min) {
      h1, time {
        text-align: center;
      }
    }
  }
}

#article-list {
  padding: 0 $jason-space;
  article {
    margin-top: ($jason-space * 1.5);
    @extend .col-md-6;
    margin-top: 2.5em;
    padding-top: 2.5em;
    border-top: 1px solid $table-border-color;
    &:nth-child(4n+2) {
      clear: both;
    }
    &:first-child {
      margin-top: 0;
    }
    .post-title {
      font-size: $font-size-h2;
    }
    .post-summary {
      margin-bottom: 0;
    }
  }
}

body.blog_free-shipping-for-certain-products-in-magento_index {
  img {
    margin: 1em auto;
  }
}
