.time {
  color: $text-muted;
  font-size: $font-size-small;
}
.back-to-articles {
  font-size: $font-size-small;
  text-decoration: underline;
}

#article-single {
  @extend .container;
  article {
    font-size: 20px;
    line-height: 1.65em;
    h1 {
      text-transform: capitalize;
    }
    time {
      display: block;
    }
    .blog-hero {
      margin-bottom: $jason-space;
    }
    a:link {
      text-decoration: underline;
    }
    img {
       @extend .img-responsive;
    }
    @media screen and (max-width: $screen-sm-min) {
      h1, time {
        text-align: center;
      }
    }
  }
}

body.blog_index {
  h1 {
    padding: 0 ($jason-space / 2);
  }
}
#article-list {
  padding: 0 $jason-space;
  display: flex;
  flex-wrap: wrap;
  article {
    width: 100%;
    margin-bottom: ($jason-space / 2);
    float: left;
    display: flex;
    border: 1px solid $table-border-color;
    text-align: center;
    overflow: hidden;
    @include transition(background-color 0.25s, border-color 0.25s);
    @media (min-width: $screen-sm-min) {
      width: 47%;
      margin: ($jason-space / 4);
    }
    @media (min-width: $screen-md-min) {
      width: 31%;
    }
    &:hover, &:focus {
      border-color: $brand-primary;
      background-color: rgba($brand-primary, 0.05);
      .post-title {
        color: darken($brand-primary, 15%);
      }
    }
    .post-title {
      display: block;
      width: 100%;
      @include transition(color 0.25s);
    }
    &>a {
      display: block;
      color: $text-color;
      text-decoration: none;
      width: 100%;
    }
    .content {
      padding: $jason-space;
    }
    .blog-hero {
      @extend .img-responsive;
      background-color: $table-border-color;
    }
    .post-title {
      font-size: $font-size-h3;
      font-weight: normal;
      color: $brand-primary;
      text-decoration: underline;
    }
    .post-summary {
      margin-bottom: ($jason-space / 2);
    }
  }
}

body.blog_free-shipping-for-certain-products-in-magento_index {
  img {
    margin: 1em auto;
  }
}
