.banner {
  position: relative;
  text-align: center;
  min-height: 0;
  background-color: #A432F4;
  background-image: url(../img/hero-jason-purple.jpg);
  background-repeat: no-repeat;
  background-position: center bottom;
  padding: $jason-space;
  padding-bottom: ($jason-space * 2);
  margin: 0;

  .title {
    font-family: $headings-font-family;
    text-transform: uppercase;
    color: #fff;
    font-size: 20vw;
    letter-spacing: -0.095em;
    line-height: 0.75em;
    margin: 0;
    padding: 0.325em 0 0;
    @media (min-width: $screen-lg-min) {
      font-size: 11rem;
      letter-spacing: 0;
    }
  }
  .subtitle {
    text-transform: lowercase;
    color: #FFFF93;
    font-size: 3.75vw;
    font-weight: 200;
    padding: 0;
    margin: 0;
    letter-spacing: -.008em;
    @media (min-width: $screen-md-min) {
      font-size: 3vw;
    }
    @media (min-width: $screen-lg-min) {
      font-size: 2.85vw;
    }
  }
  .wingdings {
    color: #fff;
    font-size: 95px;
    position: absolute;
    bottom: 0;
    left: -9999em;
    line-height: 0.65em;
    @media (min-width: $screen-sm-min) {
      left: $jason-space;
    }
  }
}

// Different typography for home page
body.index {
  .banner {
    @media (min-width: $screen-lg-min) {
      min-height: 720px;
    }
    .title {
      font-size: 20vw;
      letter-spacing: -0.095em;
      @media (min-width: $screen-lg-min) {
        font-size: 31rem;
      }
    }
  }
}