section {
  @extend .clearfix;
}
dd {
  margin-bottom: 1.5em;
}
main.container {
  padding-top: ($jason-space * 2);
  padding-bottom: ($jason-space * 2);
}
.section-heading {
  @extend .col-md-4;
  text-align: right;
  h2 {
    text-transform: uppercase;
  }
}
.section-content {
  @extend .col-md-8;
  h3 {
    color: $brand-primary;
    &:first-child {
      margin-top: 0;
    }
  }
}