.nav-link-active {
  text-decoration: underline;
}

#primary-navigation {
  margin-bottom: 0;
  padding: 2.5em 2.05em;
  @extend .navbar;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
  button {
    @extend .navbar-toggle;
  }
  a {
    color: #fff;
    padding-left: 5px;
    padding-right: 5px;
    font-family: $headings-font-family;
    text-transform: uppercase;
    @media (min-width: $screen-sm-min) {
      padding: 0.95em 0.775em;
    }
    line-height: 2.85em;
    &.logo {
      @extend .navbar-brand;
      float: none;
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: $screen-sm-min) {
        padding: .85em 0 0;
      }
      font-weight: bold;
      font-size: $font-size-base;
      color: $brand-secondary;
      .brand {
        margin-right: 0.75em;
        transition: all .5s;
        display: inline-block;
        width: 43px;
      }
    }
  }
  li {
    a {
      &:hover, &:focus {
        background: none;
        @extend .nav-link-active;
      }
    }
    &.active {
      a {
        @extend .nav-link-active;
      }
    }
  }
}

#primary-container {
  .nav {
    @media (min-width: $screen-sm-min) {
      padding-left: 1.4em;
    }
    padding-top: .5em;
    @extend .navbar-nav;
    @extend .list-inline;
  }
}

// Manual active styles
body.portfolio {
  li.nav-item-portfolio {
    a {
      @extend .nav-link-active;
    }
  }
}
body.about {
  li.nav-item-about {
    a {
      @extend .nav-link-active;
    }
  }
}
body.blog {
  li.nav-item-blog {
    a {
      @extend .nav-link-active;
    }
  }
}
