.visible {
  display: block !important;
  opacity: 1;
  height: auto;
}

.cloak {
  display: none !important;
  opacity: 0;
  height: 0;
}

::selection {
  color: white;
  background: $brand-primary;
}

::-moz-selection {
  color: white;
  background: $brand-primary;
}

.alignleft, .alignright {
  margin-bottom: 1em;
}

.alignleft {
  margin-right: 1em;
  float: left;
}

.alignright {
  margin-left: 1em;
  float: right;
}

hr {
  margin-top: 2em;
  margin-bottom: 2em;
  &+h1, &+.h1, &+h2, &+.h2, &+h3, &+.h3 {
    margin-top: 0;
  }
}