#primary-navigation {
  margin-bottom: 0;
  padding: 2.5em 2.05em;
  @extend .navbar;
  text-align: center;
  @media (min-width: $screen-sm-min) {
    text-align: left;
  }
  button {
    @extend .navbar-toggle;
  }
  a {
    color: $black;
    padding-left: 5px;
    padding-right: 5px;
    @media (min-width: $screen-sm-min) {
      padding: 0.95em 0.775em;
    }
    line-height: 2.85em;
    &.logo {
      @extend .navbar-brand;
      float: none;
      @media (min-width: $screen-sm-min) {
        padding: .85em 0 0;
        float: left;
      }
      font-weight: bold;
      font-size: $font-size-base;
      color: $brand-primary;
      img {
        margin-right: 0.75em;
        transition: all .5s;
      }
      &:hover, &:focus {
        img {
          -ms-transform: rotate(-45deg);
          -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
        }
      }
    }
  }
  li {
    a {
      &:hover, &:focus {
        background: none;
        text-decoration: underline;
      }
    }
    &.active {
      a {
        text-decoration: underline;
      }
    }
  }
}
#primary-container {
  .nav {
    @media (min-width: $screen-sm-min) {
      padding-left: 1.4em;
    }
    padding-top: .5em;
    @extend .navbar-nav;
    @extend .list-inline;
  }
}