// Thumbnail gallery of projects
#proj-thumbnails {
  @extend .row;
  figure {
    @extend .col-sm-6;
    @extend .col-md-2;
    position: relative;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    h3 {
      font-size: 16px;
      margin-bottom: 0;
    }
    .view {
      color: darken(#fff, 35%);
      font-size: 12px;
      font-style: italic;
    }
    img {
      @extend .img-responsive;
      position: relative;
      display: block;
      top: 0;
      left: 0;
      min-height: 100%;
      min-width: 100%;
      z-index: 1;
    }
    a {
      @extend .thumbnail;
      color: #fff;
      background: rgba(0,0,0,0);
      margin: 0;
      &:hover, &:focus {
        figcaption {
          color: #fff;
          opacity: 1;
          background: rgba(0,0,0,0.4);
        }
      }
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-top: 40%;
      opacity: 0;
      z-index: 2;
    }
  }
}

// Project singles
#project-single {
  padding: 0 2em;
  main {
    @extend .col-md-10;
  }
  img {
    @extend .img-responsive;
  }
  aside {
    @extend .col-md-2;
  }
}