@font-face {
  font-family: 'egfont';
  src: url('../fonts/egfont.eot');
  src: url('../fonts/egfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/egfont.svg#egfont') format('svg'),
  url('../fonts/egfont.woff') format('woff'),
  url('../fonts/egfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {}
h2 {}
h3 {}