@font-face {
  font-family: 'egfont';
  src: url('../fonts/egfont.eot');
  src: url('../fonts/egfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/egfont.svg#egfont') format('svg'),
  url('../fonts/egfont.woff') format('woff'),
  url('../fonts/egfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

p {
  margin-bottom: 2em;
}

h2, .h2 {
  margin-top: 2em;
  &:first-child {
    margin-top: 0;
  }
}

h3, .h3 {
  color: #7b7b7b;
}

aside, main {
  a:link {
    text-decoration: underline;
  }
}