// Thumbnail gallery of projects
#proj-thumbnails {
  @extend .row;
  figure {
    @extend .col-sm-6;
    @extend .col-md-4;
    @extend .col-lg-3;
    position: relative;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    border: 2px solid #fff;
    max-width: 500px;
    h3 {
      font-size: 29px;
      margin-top: 0;
      margin-bottom: 0;
      color: #fff;
    }
    .year {
      display: block;
    }
    .view {
      color: darken(#fff, 5%);
      font-size: 17px;
      font-style: italic;
    }
    img {
      @extend .img-responsive;
      position: relative;
      top: 0;
      left: 0;
      z-index: 1;
    }
    a {
      @extend .thumbnail;
      color: #fff;
      background: rgba(0,0,0,0);
      background: rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0);
      margin: 0;
      &:hover, &:focus {
        figcaption {
          color: #fff;
          opacity: 1;
          background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAEElEQVQImWNgoAP4f2/1fwAJVAOILWUmIAAAAABJRU5ErkJggg==) rgba(red($brand-primary), green($brand-primary), blue($brand-primary), 0.85);
        }
      }
    }
    figcaption {
      position: absolute;
      width: 100%;
      height: 100%;
      padding-top: 40%;
      padding-left: 15px;
      padding-right: 15px;
      opacity: 0;
      z-index: 2;
      @include transition(opacity .5s);
    }
  }
}

// Project singles
#project-single {
  padding: 0 $jason-space;
  main {
    @extend .col-md-10;
    img {
      @extend .img-responsive;
      margin: 0 auto;
    }
    .image-title {
      text-align: center;
      border-bottom: 1px solid $input-border;
      font-size: 18px;
    }
  }
  aside {
    @extend .col-md-2;
  }
}
