@charset "utf-8"

/* ==========================================================================
   Bootstrap Overrides
   ========================================================================== */

// Colors
$brand-primary:     #61b5ab
$brand-secondary:   #C1D5BE

$body-bg:           #1a1e2e
$breadcrumb-bg:     none
$green-highlight:   #5e8352

$dark-gray:         #1d1d1d
$border:            #444444

$light-red:         #e31637
$dark-red:          #b2001f

$text-faded:        #848983
$selection:         #20C24D

// Text
$line-height-base:  1.5

// Thumbnails
$thumbnail-bg:      none
$thumbnail-padding: 0
$thumbnail-border:  transparent

$grid-gutter-width: 30px


/* ==========================================================================
   Imports / Includes
   ========================================================================== */

@import "bootstrap"
@import "font-awesome"
@import "mixins"
@import "css3-mixins"
@import "owl.carousel"
@import "owl.theme"
@import "owl.transitions"

// @font-face declarations
+declare-font-face('Ostrich Webfont', 'ostrich-regular-webfont')
+declare-font-face('Fanwood Webfont', 'fanwood_italic-webfont')


/* ==========================================================================
   Custom Extends
   ========================================================================== */

.font-sans-custom
    font:
        family: "Ostrich Webfont", sans-serif
        weight: normal
        style: normal
    text-transform: uppercase

.font-serif-custom
    font:
        family: "Fanwood Webfont", serif
        weight: normal
        style: normal

.font-serif
    font-family: Georgia, serif

.font-sans
    font-family: sans-serif

.active-nav
    background: none
    color: #fff

.line-flank
    &:before
        content: "\2014\00a0"
    &:after
        content: "\00a0\2014"

.bkg-transparent
    +rgba-bg(#000000, 0.25)
    border-bottom: 1px solid $green-highlight
    border-bottom: 1px solid rgba(255,255,255,0.15)

.bkg-hatch
    background: image-url('bkg-hatch-38.png') repeat

.vignette
    &:after
        -webkit-box-shadow: inset 0 0 17em rgba(0,0,0,0.7)
        -moz-box-shadow: inset 0 0 17em rgba(0,0,0,0.7)
        box-shadow: inset 0 0 17em rgba(0,0,0,0.7)
        position: absolute
        top: 0
        left: 0
        width: 100%
        height: 100%
        z-index: 2
        content: ""


/* ==========================================================================
   Layout
   ========================================================================== */

body
    background-color: $dark-gray
    color: #fff
    font-size: 17px
    padding-top: 60px

#wrap
    margin: 0 auto
    overflow: hidden
    border: 0 none

main
    &>h1
        margin-top: 1em
    section
        @extend .row
        @extend .clearfix
        padding: 1em 0



/* ==========================================================================
   Text
   ========================================================================== */

h1
    @extend .font-sans-custom
    letter-spacing: 1px
    span
        color: $brand-primary

h2
    margin-bottom: 0.25em
    @extend .font-serif-custom
    text-transform: capitalize
    font:
        weight: normal
        size: 22px
    &:first-child
        margin-top: 0
    span
        background: $selection
        padding: 0 0.25em

h3
    @extend .font-serif
    font:
        size: 17px
        weight: bold
    margin: 1.75em 0 0
    color: $brand-secondary
    .byline
        font-weight: normal
        font-size: 16px
        color: #8AA586

h2+h3
    margin-top: 0.45em

p
    @extend .font-sans

a, a:link
    color: #fff
    text-decoration: underline
    &:hover, &:focus
        color: #f3f3f3

/* ==========================================================================
   Header
   ========================================================================== */

header
    padding: 0
    min-height: 720px
    position: relative
    background: $dark-gray image-url('bkg-slashes.jpg') repeat
    .text
        position: absolute
        top: 201px
        left: 426px
        h1
            font-size: 80px
        .byline
            @extend .font-serif-custom

.navbar
    background: $dark-gray
    margin: 0
    border-radius: 0
    border-bottom: 1px solid $border
    a
        color: #aeaeae
        @extend .font-sans-custom
        text-transform: uppercase
        border-bottom: 1px solid transparent
        text-decoration: none
        font-size: 30px
        margin-bottom: -1px
        padding: 1em 1.5em
        +transition(all ease-out 0.15s)
        &:hover, &:focus
            background: none
            color: #fff
    .navbar-nav
        &>li
            &>a
                &:hover, &:focus
                    background: none
                    color: #fff
            &.active
                &>a
                    color: #fff
                    border-bottom-color: $brand-primary


/* ==========================================================================
   Primary Navigation (default)
   ========================================================================== */


/* ==========================================================================
   Primary Navigation (home)
   ========================================================================== */


/* ==========================================================================
   Primary Navigation Highlighting
   ========================================================================== */
body.about
    #primary-navigation
        li.nav-about
            a
                @extend .active-nav
body.portfolio
    #primary-navigation
        li.nav-portfolio
            a
                @extend .active-nav
body.contact
    #primary-navigation
        li.nav-contact
            a
                @extend .active-nav


/* ==========================================================================
   Breadcrumbs
   ========================================================================== */

.breadcrumb
    margin-bottom: 0
    li
        color: #fff
        i, a
            color: $brand-secondary
        &, i, a
            font-size: 13px
        a:link
            text-decoration: none


/* ==========================================================================
   Progress Bars
   ========================================================================== */

#progressBar
    width: 100%
    @extend .bkg-hatch
    #bar
        width: 0
        max-width: 100%
        height: 4px
        background: $brand-primary


/* ==========================================================================
   Call to Action Badges
   ========================================================================== */

.cta
    &, &:active
        display: inline-block
        font-size: 10px
        +border-radius(70px)
        @extend .clearfix
        @extend .font-serif
        margin: 0 auto
        padding: 0
        white-space: nowrap
        text-decoration: none
        &:hover, &:focus
            text-decoration: none
        i
            font-size: 36px
            display: block
    &:link
        text-decoration: none

.cta-primary
    @extend .bkg-hatch
    border: 0 none
    text-align: center
    color: #283a2d
    +transition(all ease-out 0.15s)
    text-decoration: none
    &:link
        &, &:hover, &:focus
            text-decoration: none

a.cta-primary
    &:hover, &:focus
        color: #fff
        @extend .bkg-hatch

.action-badges
    text-align: center
    margin: 1em 0
    @extend .clearfix
    .cta
        padding: 20px 20px 14px 20px
        width: 8.75em


/* ==========================================================================
   Progress Bars
   ========================================================================== */

.progress-item
    .progress-name
        margin: 0
        font-size: 13px
    .progress
        height: 8px
        @extend .bkg-hatch
        border: 0 none
        +border-radius(0)
        .progress-bar
            background-color: $brand-primary

.js.csstransitions
    .progress-item
        .progress
            @extend .active
            .progress-bar
                +transition(width ease-out 1s)
                &.nobar
                    width: 0 !important


/* ==========================================================================
   About Tabs
   ========================================================================== */
#about
    background: $dark-red
    .nav-tabs
        background: $light-red
        li
            a
                background: none

/* ==========================================================================
   Contact
   ========================================================================== */
#contact
    background: #fff
    color: $dark-gray

/* ==========================================================================
   Portfolio Thumbnails
   ========================================================================== */

#portfolio
    background: $dark-gray
    img
        @extend .img-responsive
        &:hover, &:focus
            @extend .vignette
    .col-sm-12
        text-align: center

/* ==========================================================================
   Projects
   ========================================================================== */

.example
    @extend .row
    padding: 1.5em 0
    img
        @extend .col-sm-6
        @extend .img-responsive
    .text
        @extend .col-sm-6

/* ==========================================================================
   Globals
   ========================================================================== */
.btn
    +border-radius(0)

.see
    @extend .btn
    @extend .cta-primary
    @extend .btn-xs

.more-content
    display: none
    +transition(all ease-out 0.15s)

.visible
    display: block !important
    opacity: 1
    height: auto

.cloak
    display: none !important
    opacity: 0
    height: 0
    
::selection
    color: #fff
    background: $selection

::-moz-selection
    color: #fff
    background: $selection

hr
    border-color: $green-highlight
    border-color: rgba(255,255,255,0.15)

.alignleft, .alignright
    margin-bottom: 1em

.alignleft
    margin-right: 1em
    float: left

.alignright
    margin-left: 1em
    float: right


/* ==========================================================================
   Media Queries
   ========================================================================== */
/* ==========================================================================
   Small devices (tablets)
   ========================================================================== */
@media screen and (min-width: $screen-sm-min)


/* ==========================================================================
   Medium devices (desktops)
   ========================================================================== */
@media screen and (min-width: $screen-md-min)


/* ==========================================================================
   Large devices (large desktops)
   ========================================================================== */
@media screen and (min-width: $screen-lg-min)