---
title: Contact Mover
meta_description: Contact Mover is an iOS application that helps users move contacts between nearly any 2 accounts.
---

section#project-single
  aside
    = project_details "2013", "iOS", "Designer, Frontend Developer"
    markdown:
      **iOS App**

      Contact Mover for iOS offers a very simplistic interface to transfer contacts from one account to another, including Microsoft Exchange, iCloud, Gmail, Yahoo!, and the local address book.

      Users can choose which contacts to copy to the new account, then initiate the transfer once satisfied. The app will verify that each contact is valid before transferring.

      I designed the app's logo and complete user experience, deciding that a simple step-by-step wizard would adequately guide users through the process.

      [iTunes link](https://itunes.apple.com/us/app/contact-mover/id456984826)

      ---

      **Public Website**

      The primary goal of the public site is to clearly indicate what the app does and does not do. Secondary goals are to provide honest details about the app's development and to act as a knowledge base of articles that can help users in niche situations.

      I designed and developed the public site onto Middleman and captured an animated gif of the app being used to move real contacts.

      [http://contactmover.net](http://contactmover.net)

  main role="main"
    = project_image "Contact Mover logo", "logo-contact-mover.jpg"
    hr
    = project_image "Contact Mover iOS app", "ios-front-cmover.jpg"
    hr
    = project_image "Contact Mover ready to copy contacts", "contact-mover-app-workflow.jpg"
    hr
    = project_image "Contact Mover public website home page", "contact-mover-public-site-home.jpg"
