---
title: Portfolio
redirect: /
---

// Intentionally left blank

// There is currently no need to have content at /portfolio since the 
// portfolio listing is on the home page.

// This page exists in case the user attempts to visit /portfolio 
// directly, which would result in a meta redirect to the home page.
