---
title: About me
---

section.row
  .section-heading
    h2 Work experience
  .section-content
    markdown:
      After graduating college during the 2008 recession, I was fortunate to join a startup IT and hosting company who needed someone to design and build simple websites for their clients. I was essentially an in-house freelancer who did everything from scoping to developing to invoicing. Larger projects eventually came, and I built out an incredible team of young developers, all of us eager to learn and do good work.

      I learned so much during my 7 years at that company; navigating stressful deadlines, leading client negotiations, making decisions, and even failing sometimes from inexperienced overcommitment.

      Then, WP Engine took a chance on me, allowing me to join their Digital Experience team and help maintain their online properties. My team enables other marketers to build their own web pages for campaigns, supports the sales team through chat and tooling, and encourages customers to self-serve as much as possible. My team is also a major contributor to how the brand itself is presented to the world. I am learning about storytelling, optimizing for conversions, and problem solving.

      I am a strategic thinker with technical experience and a passion for creative solutions. I work well as a liaison between what’s important for stakeholders, what’s right for users, and what’s realistic for developers.
      
      **Hello, I'm Jason.**

section.row
  .section-heading
  .section-content
    hr

section.row
  .section-heading
    h2 Employment
  .section-content
    markdown:
      ### WP Engine (2015&ndash;Present)

      <p class="job__role">Manager, Web Design Team (Storefront Marketing)</p>

      * Player-coach serving as mentor and leader to a growth-minded design team.
      * Responsible for scoping projects that support business objectives, including customer acquisition and lead generation.
      * Collaborate with teams across SMB, Enterprise, and Corporate Marketing business units.
      * Continuation of roles as team lead (below).

      <p class="job__role">Lead Web Designer (Marketing)</p>
      
      * Designed and delivered high fidelity experience prototypes to development team.
      * Created and maintained a design system used across 30+ public-facing websites.
      * Founding member of Conversion Rate Optimization team, which formalized a testing strategy driven by engagement data.
      * Established team cadences and processes. Planned and scheduled sprint work with lead developer.
      * Oversaw all web design projects, particularly focused on buyer journey and brand awareness.

      <p class="job__role">Web Designer (Marketing)</p>

      * Designed web pages and graphics for websites, email campaigns, events, ebooks, white papers, and apparel.
      * Designed and developed a/b experiments to improve conversion of landing pages from marketing campaigns.

      <p class="job__links"><a href="https://wpengine.com/">wpengine.com</a>&emsp;&emsp;<a href="https://torquemag.io/">torquemag.io</a>&emsp;&emsp;<a href="https://velocitize.com/">velocitize.com</a>&emsp;&emsp;<a href="https://wpengine.careers/">wpengine.careers</a></p>

      ### Immense Networks (2008&ndash;2015)

      <p class="job__role">Creative Director</p>
      * Managed team of software developers and designers.
      •	Scoped projects and managed diverse set of customer accounts.
      * Designed UI/UX for websites and native iOS applications.
      * Developed frontend components, view templates, and CSS systems.
      * Maintained hosting environments via cPanel and the command line.

      [immense.net](https://immense.net)

      ### Gatorworks Web Design (2007&ndash;2008)

      <p class="job__role">Junior Designer</p>

      * Designed corporate marketing assets including logos, business cards, and tradeshow materials.
      * Learned initial web design and development techniques.

      [gatorworks.net](https://gatorworks.net)

      ### LSU Student Media (2005&ndash;2007)

      <p class="job__role">Graphic Designer</p>

      * Designed advertisements for LSU publications including the Daily Reveille newspaper, Legacy Magazine, and Tigerweekly.

      <a href="http://www.lsunow.com">lsunow.com</a> (previously LSU Reveille)&emsp;&emsp;<a href="https://digbr.com">digbr.com</a> (previously Tiger Weekly)

section.row
  .section-heading
  .section-content
    hr

section.row
  .section-heading
    h2 Skills
  .section-content
    dl
      dt Conversion Strategist
      dd Success with planning and executing multivariate experiments for customer acquisition and lead generation.
      dt UX Designer
      dd Strategic thinker with technical experience and a passion for creative solutions. I work well as a liaison between what’s important for stakeholders, what’s right for users, and what’s realistic for developers.
      dt Web Developer
      dd Can write HTML/CSS/JS and navigate several programming languages. Comfortable with package managers, task runners, and version control. 
      dt Leader
      dd Dependable and resourceful in times of uncertainty. Well-organized activator who can prioritize action items and delegate as necessary.

section.row
  .section-heading
  .section-content
    hr

section.row
  .section-heading
    h2 Education
  .section-content
    markdown:
      ### Louisiana State University (Baton Rouge, LA)

      Bachelor of Fine Arts in Graphic Design<br>
      Minor in Art History<br>
      TOPS Scholarship

      ### University of New Orleans (New Orleans, LA)

      Full Academic Scholarship

      ### Archbishop Shaw High School (Marrero, LA)

      Graduate with honors<br>
      National Honor Society<br>
      Mu Alpha Theta<br>
      Principal's Honor Roll<br>
      Who's Who Among American High School Students

section.row
  .section-heading
  .section-content
    hr
    
section.row
  .section-heading
    h2 Contact
  .section-content
    ul.list-contact
      li
        strong Keybase
        br
        a href="https://keybase.io/hellojason" hellojason
      li
        strong GitHub
        br
        a href="https://github.com/hello-jason/" hello-jason
      li
        strong Email
        br
        |website @ this domain
    
section.row
  .section-heading
  .section-content
    hr

section.row
  .section-heading
    h2 About this website
  .section-content
    markdown:
      This website was an exploration for me. I built it with Middleman, a Ruby-based static site generator, and I learned some things in the process. Notably, it introduced me to Ruby helpers, asset management, and file optimization.

      I knew the site would be image-heavy, and only I would maintain it, so a static site made sense for its simplicity and speed. I have a manageable codebase in a [GitHub repository](https://github.com/hello-jason/portfolio "This site's source code") that leverages helpful tools like SCSS, Slim, [npm/gulp](/blog/remove-unused-css-from-middleman-before-deploying/ "How I remove unused CSS before deploying"), and [Bootstrap](/blog/how-bootstrap-helps-my-professional-workflow/ "How Bootstrap helps my professional workflow"). It is also hosted on GitHub Pages, simplifying deployments.
