---
title: About Me
---

section#about
  main role="main"
    .about-me
      = image_tag 'hello-jason-self.jpg', :alt => 'Jason', :class => 'self-image'
      .about-text
        markdown:
          # About me

          My passion for design has followed me all my life, back to when careful consideration of licensed cartoon pocket folders would provide classroom drawing inspiration for the entire school year.

          Though having some formal training in C++ programming, I became generally interested in the web and grew intrigued by how people explore the same content in different ways. Once I began to understand HTML, I found the niche where I belonged and developed a passion for bringing mockups to life with frontend development and CSS.

          I strive to consider how people will interact with my sites, and I often duplicate important pieces of content in multiple formats, such as hierarchical text, bulleted lists, and graphical elements. Then, I reconsider how that entire experience will change depending on the device being used to access it.

          When not at a computer, I brew beer and have built a kegerator of sorts to dispense the hobby. I also like [working on cars](/blog/1967-mustang-restoration-project/), fishing, and enjoying life with [my wife, Katie](http://shitmywifedoes.com/).

    hr.clear

    markdown:

      ## Work Experience

      ### WP Engine

      [https://wpengine.com](https://wpengine.com)

      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

      ### Immense Networks <span>[2008–2015]</span>

      [http://immense.net](http://immense.net)

      Being the first web employee at a startup IT and hosting company, I gravitated towards WordPress to give small businesses an affordable CMS solution. I learned ways to let clients manage more complex layouts with custom plugins, documentation, and ongoing consulting, ultimately trying to reduce their learning curve as much as possible.

      As experienced backend developers joined the team, we became equipped to build more powerful applications. I was exposed to other frameworks and platforms such as Symfony, Ruby on Rails, Middleman (♥), and Express for Node. We began version control with Git and leveraged package managers and task runners, and I have grown comfortable with these tools.

      I wear several hats, including UI/UX design, front end developer, project manager, creative director, account executive, and maintenance consultant. I generally orchestrate projects from the initial consultation, to deployment, to ongoing feature releases and maintenance.

      Immense also owns and operates a very sophisticated hosting environment. I have become familiar with account management in WHM, cPanel, and Plesk, and I am no stranger to the command line.

      ### Gatorworks <span>[2007–2008]</span>

      The transition from print ads to interactive user interfaces was difficult for me, but I learned a lot from my experience at Gatorworks. Working with talented individuals like [David Link](http://twitter.com/davidlink) and Jason Evers encouraged me to learn new things and hone my skillset.

      ### LSU Reveille / Tigerweekly <span>[2005–2007]</span>

      Though different organizations, my responsibilities were similar, including magazine layouts and newspaper ad designs for local businesses. I was tasked with actual deadlines for clients with real dollars invested, making this a tedious yet beneficial learning experience for me.

      ---

      ## Education

      ### Louisiana State University <span>[Baton Rouge, LA]</span>

      BFA Studio Art - Graphic Design<br>
      Minor - Art History<br>
      TOPS Scholarship

      ### University of New Orleans <span>[New Orleans, LA]</span>

      Full Academic Scholarship

      ### Archbishop Shaw High School <span>[Marrero, LA]</span>

      Graduate with honors<br>
      National Honor Society<br>
      Mu Alpha Theta<br>
      Principal's Honor Roll<br>
      Who's Who Among American High School Students

      ---

      ## About this website

      This website was an exploration for me. I built it with Middleman, a Ruby-based static site generator, and I learned some things in the process. Notably, it introduced me to Ruby helpers, asset management, and file optimization.

      I knew the site would be image-heavy, and only I would maintain it, so a static site made sense for its simplicity and speed. I have a manageable codebase in a [GitHub repository](https://github.com/hello-jason/portfolio) that leverages helpful tools like SCSS, Slim, [npm/gulp](/blog/remove-unused-css-from-middleman-before-deploying/), and Bootstrap. It is also hosted on GitHub Pages, simplifying deployments.

  aside
    h2 Skill Set
    dl
      dt Photoshop
      dd Preferred for web mockups, image manipulation, and slicing. Used for over 10 years and am extremely comfortable with it.
      dt Illustrator
      dd Plenty experience with print projects and vector-based web assets, though not used daily.
      dt CSS3
      dd Proficient and aware of browser nuances. I like Bootstrap, preprocessors, and task runners.
      dt HTML5
      dd Proficient and comfortable with evolving web standards. I like templating engines, including slim and jade.
      dt JavaScript
      dd Experience with DOM manipulation (typically via jQuery), implementing libraries (like carousels, tooltips), and so forth. Not a guru with the language, but I am actively diving into Angular.
      dt SEO
      dd Not as up-to-date as Yoast, but I have a core understanding of SEO, including per-page optimization and best practices.
      dt &#42;nix
      dd Setup a CentOS box at home and am quite comfortable with the command line, including vim, repo tasks, package managers, and cli tools.
      dt Version Control
      dd Comfortable with branching, committing, and merging git branches over command line (and sometimes rebasing).
      dt Articulate
      dd Strong writing and documentation skills. I have produced project scopes, proposals, and client training documentation for several years.
