---
title: Nitpicky differences between Windows 10 and OS X
hero_image:
hero_alt: Hero alt text
date: 2016-07-02 17:21 CDT
date_updated:
article_summary: Summary of this here article
---

p I was the only student in my graduating class in LSU's School of Art who did all my projects on a Dell. I grew up with Windows, and I have been extremely comfortable with it my entire life.

p WP Engine issued me a brand new Macbook Pro when they hired me, and I spent 7 interesting months getting to know the intricacies of OS X.

.panel.panel-default
  .panel-heading
    h2.panel-title File Explorer
    p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  .panel-body
    / =os_point "windows", "good", "Title", "Description"
    =os_point "windows", "good", "Copy as path", ""
    =os_point "windows", "good", "Address bar with full path", ""
    =os_point "windows", "good", "Folder/file manipulation in dialog boxes", ""
    =os_point "windows", "good", "Create files from context menu", ""
    =os_point "windows", "good", "Install multiple fonts from context menu", ""

    =os_point "osx", "bad", "Must drag fonts into FontBook to install", ""
    =os_point "osx", "good", "Thumbnail previews for PSD, AI, etc.", "Use ??? on  Windows"
    =os_point "osx", "good", "Multiple tabs", "Use Clover on Windows"
    =os_point "osx", "bad", "Cannot cut files or folders", ""
    =os_point "osx", "bad", "Cover flow", "Cover flow view that shows columns as you drill down is nice, but tough to get back to the top level when you’re far down"
    =os_point "osx", "good", "Spacebar preview", ""
    =os_point "osx", "bad", "Cannot get total file size of everything inside a folder", "Right-click, Get info on multiple files will open an Info window for each file individually (bad, terrible, wicked)."

h2 Keyboard Shortcuts

=os_point "windows", "good", "Home/End work like they should", "Home and End go to the beginning or end of the current line. Ctrl+Home and Ctrl+End jump to beginning or end of the current document. Why did OS X mess this up so badly?"
=os_point "windows", "good", "Windows+L locks computer", "Need to go for a coffee break? Just hit this key combination to lock your computer, requiring a password to get back in. Simple."

h2 User Interface

=os_point "windows", "good", "Window snapping", ""
=os_point "windows", "good", "Spaces", ""
=os_point "windows", "good", "Each app has its own menu bar", ""
=os_point "windows", "good", "Multi-monitor support", "Windows can span multiple monitors. Task bar on every monitor, settings to show where apps are open"
=os_point "osx", "bad", "Clicking an app eats the first click", ""
=os_point "osx", "good", "Closing apps (CMD+Q)", "This keyboard shortcut will close the currently-active app. Handy! Alt+F4 usually works in Windows, but it's not a standard."
=os_point "osx", "bad", "Difficult to grab window corners for resizing", ""
=os_point "osx", "bad", "Difficult telling titlebars apart", ""
=os_point "osx", "bad", "Windows cannot span multiple monitors", ""
=os_point "osx", "bad", "Does not know about additional monitors until after user logs in", ""
=os_point "osx", "bad", "3rd party keyboard and mouse support BLOWS before user has logged in", ""
/ =os_point "osx", "bad", "", ""


markdown:

  ## Dock/Taskbar

  ### Windows taskbar

    * Sneak peek view
    * Recently opened items
    * Jump lists, with pinning feature (huge!)
    *

  ### OSX Dock

    * Cannot have dock on all monitors (bad)
    * Clicking an icon in the dock does not maximize/minimize that application (bad)
    * Minimizing an application tosses it to the right side of the dock and kills ability to alt+tab to maximize that app (bad)

  ---

  ## Features

  ### Windows

    * Remote desktop protocol (huge!) - supports multimonitors, sound, users

  ### OSX

    * System-wide dictionary feature, very nice! But cannot add new words to the dictionary in right-click context menu. They want you to right click, go to Spelling and Grammar, then click a button terribly-labeled “Learn”. (stupid)

  ## Desktop

  ### OSX

    * Files that you drag to the desktop do not drop where you drag them. They often take it upon themselves to show up some other place on the desktop. (bad)
    * Plugged in devices show on the desktop (helpful)
