---
title: About Me
---

section#about
  aside
    = image_tag "http://placehold.it/650x450", :alt => "thing"

  main role="main"
    markdown:
      ## About me

      My passion for design and typography has followed me all my life, back to when careful consideration of licensed cartoon pocket folders would provide classroom drawing inspiration for the entire school year.

      Though having some formal training in C++ programming, I became generally interested in the web and grew intrigued by how people explore the same content in different ways. Once I began to understand HTML, I found the niche where I belonged and developed a passion for bringing mockups to life with frontend development and CSS.

      I strive to consider how people will interact with my sites, and I often duplicate important pieces of content in multiple formats, such as hierarchical text, bulleted lists, and graphical elements. Then, I reconsider how that entire experience will change depending on the device being used to access it.

      I brew beer and have built a kegerator of sorts to dispense the hobby. I also like working on cars and enjoying life with [my wife, Katie](http://shitmywifedoes.com/).

      ## Work experience

      ### Immense Networks (2008–Present)

      Being the first web employee at a startup IT and hosting company, I gravitated towards WordPress to give small businesses an affordable CMS solution. I learned ways to let clients manage more complex layouts with custom plugins, documentation, and ongoing consulting, ultimately trying to reduce their learning curve as much as possible.

      As experienced backend developers joined the team, we became equipped to build more powerful applications. I was exposed to other frameworks and platforms such as Symfony, Django, Ruby on Rails, and Express for Node. We began version control with Git and leveraged package managers and task runners, and I have grown comfortable with these tools.

      I wear several hats, including UI/UX design, frontend developer, project manager, creative director, account executive, and ongoing consultant. I generally orchestrate projects from the initial consultation, to deployment, to ongoing feature releases and maintenance.

      Immense also owns and operating a very sophisticated hosting environment, so I have become familiar with account management in WHM, cPanel, and Plesk.
      
      ### Gatorworks (2007–2008)

      The transition from print ads to interactive user interfaces was difficult for me, but I learned a lot from my experience at Gatorworks. Working with talented individuals like David Link and Jason Evers encouraged me to learn new things and hone my skillset.
      
      ### LSU Reveille / Tigerweekly (2005–2007)

      Though different organizations, my responsibilities were similar, including magazine layouts and newspaper ad designs for local businesses. I was tasked with actual deadlines for clients with real dollars invested, making this a tedious yet beneficial learning experience for me.
