---
title: About Me
---

section#about
  main role="main"
    markdown:
      # About me

      My passion for design and typography has followed me all my life, back to when careful consideration of licensed cartoon pocket folders would provide classroom drawing inspiration for the entire school year.

      Though having some formal training in C++ programming, I became generally interested in the web and grew intrigued by how people explore the same content in different ways. Once I began to understand HTML, I found the niche where I belonged and developed a passion for bringing mockups to life with frontend development and CSS.

      I strive to consider how people will interact with my sites, and I often duplicate important pieces of content in multiple formats, such as hierarchical text, bulleted lists, and graphical elements. Then, I reconsider how that entire experience will change depending on the device being used to access it.

      I brew beer and have built a kegerator of sorts to dispense the hobby. I also like working on cars and enjoying life with [my wife, Katie](http://shitmywifedoes.com/).

      ---

      ## Work experience

      ### Immense Networks (2008–Present)

      Being the first web employee at a startup IT and hosting company, I gravitated towards WordPress to give small businesses an affordable CMS solution. I learned ways to let clients manage more complex layouts with custom plugins, documentation, and ongoing consulting, ultimately trying to reduce their learning curve as much as possible.

      As experienced backend developers joined the team, we became equipped to build more powerful applications. I was exposed to other frameworks and platforms such as Symfony, Django, Ruby on Rails, and Express for Node. We began version control with Git and leveraged package managers and task runners, and I have grown comfortable with these tools.

      I wear several hats, including UI/UX design, frontend developer, project manager, creative director, account executive, and ongoing consultant. I generally orchestrate projects from the initial consultation, to deployment, to ongoing feature releases and maintenance.

      Immense also owns and operates a very sophisticated hosting environment, so I have become familiar with account management in WHM, cPanel, and Plesk.
      
      ### Gatorworks (2007–2008)

      The transition from print ads to interactive user interfaces was difficult for me, but I learned a lot from my experience at Gatorworks. Working with talented individuals like David Link and Jason Evers encouraged me to learn new things and hone my skillset.
      
      ### LSU Reveille / Tigerweekly (2005–2007)

      Though different organizations, my responsibilities were similar, including magazine layouts and newspaper ad designs for local businesses. I was tasked with actual deadlines for clients with real dollars invested, making this a tedious yet beneficial learning experience for me.

      ---

      ## About this website

      This website was an exploration for me. I built it with Middleman (using [my own template](https://github.com/hello-jason/middleman-bss)), a Ruby-based static site generator, and I learned some things in the process. Notably, it introduced me to Ruby helpers, asset management, and file optimization.

      I knew the site would be image-heavy, and only I would maintain it, so a static site made sense for its simplicity and speed. I have a manageable codebase in a [Github repository](https://github.com/hello-jason/portfolio) that leverages helpful development tools like Bower, SCSS, Slim, and Bootstrap. It is also hosted on Githug Pages, simplifying deployments.

  aside
    dl
      dt Photoshop
      dd Preferred for web mockups and image manipulation. Used for over 10 years and am extremely comfortable with it.
      dt Illustrator
      dd Plenty experience with print projects and vector-based web assets, though not used daily.
      dt CSS3
      dd Proficient and aware of browser nuances. I like Bootstrap and preprocessors, including less and scss.
      dt HTML5
      dd Proficient and comfortable with evolving web standards. I like templating engines, including slim and jade.
      dt SEO
      dd Good understanding of SEO, including per-page optimization and best practices.
      dt &#42;nix
      dd Setup a CentOS box at home and am generally comfortable with the command line, including vim and bash scripting.
      dt Version Control
      dd Comfortable with pulling and committing git repos. Not a pro at merging feature branches, but getting better.
      dt Articulate
      dd Strong writing and documentation skills. I have produced project scopes, proposals, and client training documentation for several years.
