---
title:              CASA / CACLA
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     CASA / CACLA
project_year:       2011
project_status:     Deployed
project_tech:       WordPress, Cake
project_url:        http://louisianacasa.org
designer:           1
frontend:           1
project_manager:    1
---

%div#hero.carousel
  = image_tag "project-hero-casa-index.jpg"
  <img data-src="img/project-hero-cacla-index.jpg">
  <img data-src="img/project-hero-casa-works.jpg">
  <img data-src="img/project-hero-cacla-about.jpg">
  <img data-src="img/project-hero-casacacla-progcenter.jpg">

%div#hero-controls
  %a.hero-prev
    %i.fa.fa-arrow-left
  %a.hero-toggle
    Toggle larger view
  %a.hero-next
    %i.fa.fa-arrow-right

%h1= current_page.data.title

%section#project-intro
  .container
    .main
      :markdown
        ## <span>Project Details</span>
        Louisiana CASA and CACLA help abused and abandoned children in Louisiana. These local nonprofits had limited budgets to allocate towards a website, so I was able to design a single overall layout while providing distinctly unique and personalized styles and color pallets for each organization.

        WordPress helps John and his advocacy teams maintain online information for the community and CASA/CACLA programs throughout the state.

        We also created a custom Program Center for each organization, allowing key team members to privately access updated information and curriculum documents.

      .action-badges
        %p.cta.cta-primary
          %i.fa.fa-picture-o
          Designer
        %p.cta.cta-primary
          %i.fa.fa-cog
          Developer

    %aside.aside
      = project_info

%hr
%section#project-details
  .container
    %h1= details_title
    .example
      =image_tag "thumbnail-col6-casacacla-progcenter.jpg"
      .text
        %p Secure program center allows administrators to manage content and user access within the system.
    .example
      =image_tag "thumbnail-col6-casacacla-map.jpg"
      .text
        %p Interactive map allows for locating organization branches within each parish.