---
title:              Contact Mover
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Contact Mover
project_year:       2013
project_status:     Deployed
project_tech:       iOS
project_url:        http://www.immense.net/contactmover/
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "ios-front-cmover.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Contact Mover for iOS offers a very simplistic interface to transfer contacts from one account to another, including Microsoft Exchange, iCloud, Gmail, Yahoo!, and the local address book.

      I designed the app's logo and complete user experience, deciding that a simple step-by-step wizard would best guide users through the process.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-group
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "responsive-cmover-readycopy.jpg"
    .text
      %p User can choose which contacts to copy to the new account, then initiate the transfer once satisfied.
  .example
    =image_tag "responsive-cmover-verifying.jpg"
    .text
      %p Contact Mover will verify that each contact is valid before transferring.