---
title: Contact Mover
---

section#project-single
  aside
    = project_details "2013", "iOS", "Designer, Project manager"
    markdown:
      Contact Mover for iOS offers a very simplistic interface to transfer contacts from one account to another, including Microsoft Exchange, iCloud, Gmail, Yahoo!, and the local address book.

      I designed the app's logo and complete user experience, deciding that a simple step-by-step wizard would adequately guide users through the process.

      ---

      Users can choose which contacts to copy to the new account, then initiate the transfer once satisfied. The app will verify that each contact is valid before transferring.
      
      [http://immense.net/contactmover](http://immense.net/contactmover)

  main role="main"
    = image_tag "projects/logo-contact-mover.jpg", :alt => "Contact Mover logo"
    = image_tag "projects/ios-front-cmover.jpg", :alt => "Contact Mover iOS app"
    = image_tag "projects/responsive-cmover-readycopy.jpg", :alt => "Contact Mover ready to copy contacts"
    = image_tag "projects/responsive-cmover-verifying.jpg", :alt => "Contact Mover verifying contacts"
