---
title:              Dorignac's Food Center
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Dorignac's
project_year:       2014
project_status:     Deployed
project_tech:       WordPress, Roots, Grunt, Less
project_url:        http://dorignacs.com
designer:           1
frontend:           1
project_manager:    1
---

%section#hero
  = image_tag "monitor-front-dorignacs.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## Project Details
      Dorignac's Food Center is a grocery store in Metairie, Louisiana. I worked collaboratively with <a href="http://wfcommunications.com" target="_blank">Wright Feigley Communications</a><sup><i class="fa fa-external-link"></i></sup> to develop their design into a custom, responsive WordPress theme using the Roots framework. I was also allowed full creative freedom with the site's responsiveness and layout at smaller screen sizes.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-picture-o
        Designer
      %p.cta.cta-primary
        %i.fa.fa-cog
        Frontend

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-dorignacs-category.jpg"
    .text
      %p The mobile-friendly Owl Carousel was integrated for greater device support, and a custom Pod allows the marketing team to manage images and their pages.
  .example
    =image_tag "responsive-dorignacs.jpg"
    .text
      %p I leveraged the Roots framework and Bootstrap for solid, mobile-first responsiveness.
  .example
    =image_tag "monitor-right-dorignacs-team.jpg"
    .text
      %p The Pods CMS plugin allowed me to create custom forms to manage complex data, such as team members and weekly hot lunches.
