---
title: Dorignac's Food Center
meta_description: Override meta description.
---

section#project-single
  aside
    markdown:
      Dorignac's Food Center is a grocery store in Metairie, Louisiana. I worked collaboratively with [Wright Feigley Communications](http://wfcommunications.com/) to develop their design into a custom, responsive WordPress theme using the Roots framework. I was also allowed full creative freedom with the site's responsiveness and layout at smaller screen sizes.

      [http://dorignacs.com](http://dorignacs.com)

  main role="document"
    = image_tag "projects/responsive-dorignacs.jpg", :alt => "Dorignac's responsive"
    = image_tag "projects/monitor-right-dorignacs.jpg", :alt => "Rotolo's food menu"