---
title: Gatortrax
---

section#project-single
  aside
    markdown:
      Gatortrax, or Gtrax, is a web-based project manager for Gator Millworks in Denham Springs. This Ruby on Rails application allows employees to create estimates, convert them to jobs, and schedule job-related tasks. It also assists with stock and organization of products and materials in inventory.

      Gtrax is undergoing an overhaul of its user interface that is more fully realized and useful for the client.

      [http://gtrax.gatormillworks.com](http://gtrax.gatormillworks.com)

  main role="main"
    = image_tag "projects/monitor-front-gtrax.jpg", :alt => "Gatortrax login form"
    = image_tag "projects/monitor-right-gtrax-table.jpg", :alt => "Gatortrax table list"
    = image_tag "projects/monitor-right-gtrax-v2.jpg", :alt => "Gatortrax version 2.0"
