---
title: Gator Millworks
---

section#project-single
  aside
    markdown:
      The biannual NGSTech Conference required an updatable, informative website as well as a proper online registration and payment system.

      After designing the 2 interfaces, I developed the public site into a custom, responsive WordPress theme while Chris McKnight developed the registration component onto Node with PayPal API integration.

      The project's inaugural use was very successful, and they intend to continue feature development for the next conference.

      The company has invested heavily in high-end equipment, allowing greater volumes of precision work delivered on schedule. I feel these operational components are important to residential and commercial customers alike.

      Specific case studies are used to demonstrate workmanship and diversity. They are tiled and large for emphasis.

  main role="main"
    = image_tag "projects/monitor-front-gatormillworks.jpg", :alt => "Gator Millworks homepage"
    = image_tag "projects/monitor-right-gatormillworks-about.jpg", :alt => "Gator Millworks about"
    = image_tag "projects/monitor-right-gatormillworks-equipment.jpg", :alt => "Gator Millworks equipment"
    = image_tag "projects/monitor-right-gatormillworks-projects.jpg", :alt => "Gator Millworks projects"
