---
title:              Holy Name of Jesus Church
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Holy Name of Jesus Church
project_year:       2011
project_status:     Deployed
project_tech:       WordPress
project_url:        http://hnjchurch.org
designer:           1
frontend:           1
project_manager:    1
---

// Extract Hero into content_for block
%div#hero
  = image_tag "monitor-front-hnj.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Located on Loyola University's campus, the Holy Name of Jesus church dates to the 1800s. They requested a new website with manageable content in order to provide updated information to parishoners. Another important goal was to create web forms for parish membership, ministry application, and tithing.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-picture-o
        Designer
      %p.cta.cta-primary
        %i.fa.fa-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-hnj-membershipapp.jpg"
    .text
      %p Web forms allow parishoners to apply for membership, ministry, and tithing directly from the website.