---
title:              Immense Networks
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Immense Networks
project_year:       2012
project_status:     Deployed
project_tech:       WordPress
project_url:        http://www.immense.net
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-immense.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      The goal of the new Immense Networks website was ultimate simplicity and direct explanations of services. Each section provides concise and meaningful descriptions of products and services, and it’s easy to navigate.

      Development of the blog, social media networking and SEO have also lead to a huge increase in traffic to the website.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-picture-o
        Designer
      %p.cta.cta-primary
        %i.fa.fa-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-immense-values.jpg"
    .text
      %p Core values
  .example
    =image_tag "monitor-right-immense-hosting.jpg"
    .text
      %p Hosting rates table
  .example
    =image_tag "monitor-right-immense-migrations.jpg"
    .text
      %p Server migrations
-# Get screenshots of tshirt, retractable banner, street sign, handouts