---
title:              Immense Networks
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Immense Networks
project_year:       2012
project_status:     Deployed
project_tech:       WordPress
project_url:        http://www.immense.net
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-immense.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-picture-o
        Designer
      %p.cta.cta-primary
        %i.fa.fa-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-immense-values.jpg"
    .text
      %p Company values
  .example
    =image_tag "monitor-right-immense-hosting.jpg"
    .text
      %p Hosting rates table
  .example
    =image_tag "monitor-right-immense-migrations.jpg"
    .text
      %p Server migrations
// Get screenshots of tshirt, retractable banner, street sign, handouts