---
title:              ISC Constructors
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     ISC Constructors
project_year:       2014
project_status:     Development
designer:           1
frontend:           0
project_manager:    1
---

%div#hero
  = img_responsive "monitor-front-xs-isc.jpg", "monitor-front-isc.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      ISC Constructors is a leading electrical contractor in the South. Their website, however, poorly represents the growth and success ISC has earned over the years. 

      The primary goal of the website, currently under development, is to excite potential applicants and procure new employment. Our focus will revolve around the individuality of current employees and staff and their amazing achievements while working at ISC.

      We will also detail ISC’s safety record and reflect on team-building elements such as crawfish boils and the baseball team.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-group
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-isc-alt1.jpg"
    .text
      :markdown
        **Early mockup, version 1** &ndash; This was a general exploration attempt using ideas from initial discovery meetings.
  .example
    =image_tag "monitor-right-isc-alt2.jpg"
    .text
      :markdown
        **Early mockup, version 2** &ndash; This exploration toyed with a full browser, single page, and parallax website to capture the company’s marketing movement.
