---
title:              LSU Club at Union Square
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     LSU Club at Union Square
project_year:       2012
project_status:     Deployed
project_tech:       WordPress
project_url:        http://www.theclubatlsu.com/
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-lsuclub.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      The Club at LSU Union Square is a fine dining restaurant on Louisiana State University’s campus. I was provided with a beautiful photograph of the building’s exterior at sunset, which inspired a simplistic, left-aligned and semitransparent site that spotlights the building and the food.
      
      A custom WordPress theme and plugins helps staff keep the website updated with new menu items and specials on a weekly basis.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-lsuclub-reservation.jpg"
    .text
      :markdown
        An integrated web form allows customers to make reservations online.
