---
title:              Mow & Tell
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Mow & Tell
project_year:       2013
project_status:     Development
project_url:        http://mow.dev.immense.net
project_tech:       WordPress, Roots, Less, Grunt
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = img_responsive "monitor-front-xs-mowtell.jpg", "monitor-front-mowtell.jpg"
  <img data-src="img/project-hero-mowtell-about.jpg">
  <img data-src="img/project-hero-mowtell-services.jpg">

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Mow & Tell is a successful local company with the desire to grow through the web and other marketing means. I provided ongoing consulting during the logo creation process, then worked with Dartanyon closely to design and develop a fitting web presence.

      The site is built onto WordPress with the Roots framework, allowing for a beautifully responsive and simple to manage website.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-mowtell-about.jpg"
    .text
      :markdown
        Simple 2 column layout with per-section navigation and random testimonials.
  .example
    =image_tag "responsive-mowtell.jpg"
    .text
      :markdown
        Responsive layout with special attention to the phone number and primary navigation.