---
title: NGSTech
---

section#project-single
  aside
    markdown:
      The biannual NGSTech Conference required an updatable, informative website as well as a proper online registration and payment system.

      After designing the 2 interfaces, I developed the public site into a custom, responsive WordPress theme while Chris McKnight developed the registration component onto Node with PayPal API integration.

      The project's inaugural use was very successful, and they intend to continue feature development for the next conference.

      [http://ngstech.org](http://ngstech.org)

  main role="main"
    = image_tag "projects/responsive-ngstech.jpg", :alt => "NGSTech responsive"
    = image_tag "projects/monitor-front-ngstech.jpg", :alt => "NGSTech homepage"
    = image_tag "projects/monitor-right-ngstech-gallery.jpg", :alt => "NGSTech gallery"
