---
title:              P&S Surgical Hospital
meta_description:   The P&S Surgical Hospital of Monroe needed a new public website to represent their evolving organization.
section:            portfolio
project_client:     P&S Surgical Hospital
project_year:       2014
project_status:     Deployed
project_tech:       WordPress, Roots, Less, Grunt
project_url:        http://pssurgery.com
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-pssurgery.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      The P&S Surgical Hospital of Monroe needed a new public website to represent their evolving organization. The previous website and company representatives provided helpful feedback and content structure, allowing for a pleasant design and development process.

      The client requested WordPress, which would provide a comfortable platform for managing content. I designed and helped develop a responsive theme on the Roots framework, utilizing Pods (and other tools) to offer a small learning curve for managing their new website.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-picture-o
        Designer
      %p.cta.cta-primary
        %i.fa.fa-cog
        Developer
      %p.cta.cta-primary
        %i.fa.fa-users
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-pssurgery-tables.jpg"
    .text
      %p Simple, but complementary styles for tablular data.
  .example
    =image_tag "responsive-pssurgery.jpg"
    .text
      %p Responsive styles and close attention to content stacking for smaller devices.
  .example
    =image_tag "monitor-right-pssurgery-search.jpg"
    .text
      %p Search results highlight text matching the user's query.
      