---
title:              Rotolo's Pizzeria
meta_description:   The growing Rotolo's Pizzeria corporation wanted to provide menu and catering information to customers while simultaneously guiding entrepreneurs to franchising details.
section:            portfolio
project_client:     Rotolo's Pizzeria
project_year:       2012
project_status:     Deployed
project_tech:       WordPress, Roots, Less, Grunt
project_url:        http://rotolos.com
designer:           0
frontend:           1
project_manager:    1
---

%section#hero.hisrc
  = image_tag "monitor-front-rotolos.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      The growing Rotolo's Pizzeria corporation wanted to provide menu and catering information to customers while simultaneously guiding entrepreneurs to franchising details. I worked closely with designer Mandy Portal to create a WordPress website that allows the Rotolo’s marketing team to update news posts, menu items, and other content as needed while the brand continues to grow across the Gulf South.

      The site was developed onto WordPress using the Roots framework, offering a responsive layout and manageable codebase. Ongoing maintenance and consulting help their team keep the website updated.

    .action-badges
      %p.cta.cta-primary
        %i.fa.fa-cog
        Frontend
      %p.cta.cta-primary
        %i.fa.fa-users
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-rotolos-menu.jpg"
    .text
      %p Users select a restaurant location, which determines food and catering menu items and prices when those pages are visited.
  .example
    =image_tag "responsive-rotolos.jpg"
    .text
      %p Responsive layout for easier navigation on smaller devices.
      
