---
title:              ServerExec Domain Manager
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     ServerExec Domain Manager
project_year:       2011
project_status:     Deployed
project_tech:       Symfony
project_url:        http://www.serverexec.com
designer:           1
frontend:           1
project_manager:    0
---

%div#hero
  = img_responsive "monitor-front-xs-serverexec.jpg", "monitor-front-serverexec.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      ServerExec notifies users of upcoming expirations for domain names and SSL certificates, no matter which registrar is used.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Frontend

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-serverexec-home.jpg"
    .text
      %p Originally a tool created to manage client domain and SSL certificates, we recognized a greater potential for ServerExec and created a website for information and marketing.