---
title:              Simple Simon Tire
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Simple Simon Tire
project_year:       2010
project_status:     No longer active
project_tech:       WordPress
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = img_responsive "monitor-front-xs-simplesimon.jpg", "monitor-front-simplesimon.jpg"

%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Simple Simon Tire of Baton Rouge has offered tire and automotive maintenance for over 40 years. I worked with designer Mandy Porta to develop their new website, which required random automation of testimonials, YouTube commercial embeds, newsletter registration, and content management.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Developer

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-simplesimon-products.jpg"