---
title: Think Print 3D
---

section#project-single
  aside
    markdown:
      Think Print 3D provides 3D printing and design services for the medical, aerospace, architecture, and military industries.

      ---

      A coming soon page was necessary since the store opened during project development.

      [http://thinkprint3d.com](http://thinkprint3d.com)

  main role="document"
    = image_tag "projects/monitor-front-thinkprint3d.jpg", :alt => "Think Print homepage"
    = image_tag "projects/monitor-right-thinkprint3d-comingsoon.jpg", :alt => "Think Print coming soon"