---
title:              Zorb-It
meta_description:   This is where the meta description goes.
section:            portfolio
project_client:     Zorb-It
project_year:       2012
project_tech:       OpenCart
project_status:     No longer active
designer:           1
frontend:           1
project_manager:    1
---

%div#hero
  = image_tag "monitor-front-zorbit.jpg"


%section#project-intro
  %h1= current_page.data.title
  .main
    :markdown
      ## <span>Project Details</span>
      Zorb-IT is the commercialized version Humidisorb, an industrial self-regenerating desiccant, which directly competes with silica gel packets used for moisture control. The primary goal of the site was to convey what the product does and allow users to purchase it online.

      This project was developed onto OpenCart, a leaner open source PHP-based ecommerce framework at the time. I was allowed full creative freedom by the client and enjoyed recreating a packet to be used as the logo, among other graphical explorations.

    .action-badges
      %p.cta.cta-primary
        %i.icon-picture
        Designer
      %p.cta.cta-primary
        %i.icon-cog
        Developer
      %p.cta.cta-primary
        %i.icon-group
        Proj Mgr

  %aside.aside
    = project_info

%section#project-details
  %h1= details_title
  .example
    =image_tag "monitor-right-zorbit-product.jpg"
    .text
      :markdown
        Individual product pages offer a clear pricing breakdown and additional content organized into tabs.